
.featured-posts {
  background: $lt-grey;
  
  h2 {
    text-align: center;
    margin-bottom: $base*2;
  }
}

.featured-posts .post {
  position: relative;
  min-height: 240px;
  margin-bottom: $base;
  background: $post-thumb-default no-repeat;
  background-size: cover;
}

.featured-posts .post a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(#000, 0.5);
  
  &:hover {
    background: rgba(#000, 0.3);
  }
}

.featured-posts .post-date {
  @include font-size(13px);
  position: absolute;
  left: 20px;
  right: 20px;
  top: 16px;
  color: #fff;
  text-transform: uppercase;
}

.featured-posts .post-title {
  @include font-size(21px);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 16px;
  color: #fff;
  font-weight: $reg;
}

.featured-posts .more-news {
  padding-top: 12px;
  text-align: center;
}
