
.emergency-block {
  padding: $base 4% $base*1.5;
  background: $red;
  color: #fff;
  text-align: center;

  @include bp-min-width($large) {
    padding: $base*2 5% $base*2.5;
  }
  
  h4 {
    font-weight: $bold;
  }
  
  p {
    @include width-6-col;
    @include font-size(21px);

    @include bp-min-width($medium) {
      @include font-size(24px);
    }
  }
  
  a {
    color: #fff;
  }
}