
.featured-posts {
  
  .wrapper {
    padding: $base*2 3.5%;
  }
  
  h2 {
    color: $md-blue;
  }
  
  .col-1-2 {
    padding: 0 5%;
  }
}

.featured-posts .post-thumb {
  margin-bottom: $base;
}

.featured-posts h3 {
  @include font-size(24px);
  color: $md-blue;
  line-height: 1;
  font-weight: $med;
  
  a {
    color: $md-blue;
    
    &:hover {
      color: $blue;
    }
  }
}

.featured-posts .post-date {
  @include font-size(18px);
  margin-bottom: 18px;
}

.featured-posts .post-teaser {
  @include font-size(18px);
  @include line-height(24px);
  margin-bottom: 28px;
  color: $dk-grey;
}

