
.filters {
  @include cf;
  margin-bottom: $base*2;
  border-bottom: 2px solid $lt-grey;
  text-align: center;

  @include bp-max-width($medium) {
    padding-bottom: 8px;
  }
}

.filters li {
  display: inline-block;
  padding: 12px 2.5%;

  @include bp-min-width($medium) {
    @include font-size(21px);
    padding: $base 2.5%;
  }
  
  &.current-menu-item {
    box-shadow: inset 0 -6px 0 $blue;
  }
}

.filters a {
  display: block;
  color: $md-blue;
  
  &:hover {
    color: $blue;
  }
}

.filters li:first-child {
  @include font-size(21px);
  display: inline-block;
  color: $blue;
  font-weight: $med;
  
  a {
    color: $blue;
  }
}