
.promo-section {
  padding: $base*1.5 0;
  background: $red $bg-promo-sect no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;

  .wrapper {
    max-width: 940px;
  }
  
  a {
    color: #fff;
    font-weight: $med;
  }
}

.promo-section p:first-of-type {
  @include font-size(28px);
  @include line-height(36px);
  margin-bottom: 18px;

  @include bp-min-width($medium) {
    @include font-size(40px);
    @include line-height(48px);
    font-weight: $light;
  }
}

.promo-section br {
  @include bp-max-width($small) {
    display: none;
  }
}
