
.testimonial {
  text-align: center;
}

.testimonial-thumb {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 108px;
  margin-bottom: $base;
  background: $dk-blue;
  border: 4px solid $lt-grey;
  border-radius: 50%;

  @include bp-min-width($medium) {
    margin-bottom: $base*1.5;
  }
  
  img {
    border-radius: 50%;
  }
}

.testimonial-thumb .quote-initials {
  @include absolute-center;
  @include font-size(40px);
  color: $red;
  font-weight: $bold;
}

.testimonial-quote {
  margin-bottom: $base;

  @include bp-min-width($medium) {
    margin-bottom: $base*1.5;
  }    

  p {
    @include font-size(18px);
    @include line-height(24px);

    @include bp-min-width($medium) {
      @include font-size(21px);
      @include line-height(32px);
    }
  }
  
  a {
    color: $red;
    
    &:hover {
      color: $dk-red;
    }
  }
}

.testimonial-name {
  color: $md-blue;
  font-weight: $med;
}


// Testimonial Page

.single-testimonials .testimonial {
  padding-bottom: $base*2;
}

.single-testimonials .testimonial-quote p {
  @include width-8-col;
}
