
.home-about {
  @include cf;
  display: table;
}

.home-about-content {
  padding: $base*1.5 4% $base;
  background: $dk-blue;
  color: #fff;
  text-align: center;

  @include bp-min-width($medium) {
    display: table-cell;
    width: 50%;
    padding: $base*2 6% $base*1.5;
    text-align: left;
  }
  
  @include bp-min-width($large) {
    width: 38%;
  }
  
  a {
    @include btn;
    border-bottom-color: $md-blue;
  }
}

.home-about-content h2 {
  position: relative;
  margin-bottom: $base*1.5;
  color: $blue;
  
  &:after {
    content: "";
    display: block;
    width: 34px;
    height: 1px;
    margin-top: 12px;
    background: $blue;

    @include bp-max-width($medium) {
      margin: 12px auto 0;
    }
  }
}

.home-about-content p {
  margin-bottom: $base*1.5;
  
  @include bp-min-width($medium) {
    @include font-size(18px);
    @include line-height(30px);
  }
}

.home-about-images {
  display: none;
  background: $grey $home-about-01;
  background-size: cover;

  @include bp-min-width($medium) {
    display: table-cell;
    width: 50%;
    padding: $base*2 6% $base*1.5;
  }
  
  @include bp-min-width($large) {
    width: 62%;
  }
}


