
.home-intro {
  text-align: center;
  
  .wrapper {
    @include bp-min-width($medium) {
      padding: $base*3 4%;
    }
  }
  
  h2 {
    display: inline-block;
    max-width: 600px;
    color: $blue;
  }
  
  p {
    @include font-size(18px);
    @include line-height(28px);
    display: inline-block;
    max-width: 660px;

    @include bp-min-width($medium) {
      @include font-size(21px);
      @include line-height(32px);
    }
  }
}

.intro-icons [class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6% $base;
}