
.footer {
  position: relative;
  background: $grey;
  color: #fff;

  .wrapper {
    position: relative;
    padding: $base 0;

    @include bp-min-width($large) {
      padding: $base*2 0;
    }
  }
}

.footer h4 {
  @include font-size(14px);
  @include line-height(20px);
  padding-top: 8px;
  border-top: 2px solid rgba(#fff, 0.5);
  font-weight: $bold;
}

.footer p {
  @include font-size(14px);
  @include line-height(20px);
}

.footer a {
  color: #fff;
  
  &:hover {
    color: $lt-grey;
  }
}

.footer .col {
  float: left;
  width: 25.8%;
  padding-right: 11.75%;
  
  &:last-of-type {
    width: 14%;
    padding-right: 0;
  }
}

.footer .col-address {
  margin-left: 8.5%;
}

.footer .col-copyright p {
  @include font-size(12px);
  
  &:first-of-type {
    padding-top: 8px;
    border-top: 2px solid rgba(#fff, 0.5);
  }
}
