
.footer {
  position: relative;
  background: $grey;
  color: #fff;

  .wrapper {
    position: relative;
    padding: $base*1.5 0;

    @include bp-min-width($large) {
      padding: $base*2.5 0;
    }
  }
}

.footer h4 {
  @include font-size(14px);
  @include line-height(20px);
  padding-top: 8px;
  border-top: 2px solid rgba(#fff, 0.5);
  color: #fff;
  font-weight: $bold;
}

.footer p {
  @include font-size(14px);
  @include line-height(20px);
}

.footer a {
  color: #fff;
  
  &:hover {
    color: $lt-grey;
  }
}

.footer-grid {
  @include bp-max-width($large) {
    margin: 0 -20px;
  }
}

.footer .col {
  float: left;
  width: 50%;
  margin: 0;

  @include bp-max-width($medium) {
    padding: 0 20px;
  }

  @include bp-min-width($medium) {
    width: 25%;
  }

  @include bp-min-width($large) {
    width: 25.8%;
    padding-right: 11.7%;
  }
}

.footer .col-address {
  @include bp-max-width($medium) {
    margin-bottom: $base;
  }

  @include bp-min-width($large) {
    width: 34.125%;
    padding-left: 100px;
  }
}

.footer .col-contact {
  @include bp-max-width($medium) {
    margin-bottom: $base;
  }
}

.footer .col-follow {
  @include bp-max-width($medium) {
    clear: left;
  }
}

.footer .col-copyright {

  @include bp-min-width($large) {
    width: 14.125%;
    padding-right: 0;
  }
}

.footer .col-copyright p {
  @include font-size(12px);
  
  &:first-of-type {
    padding-top: 8px;
    border-top: 2px solid rgba(#fff, 0.5);
  }
}

.logo-mark {
  position: absolute;
  top: 58px;
  left: 0;

  @include bp-max-width($large) {
    display: none;
  }
}

.footer-logo {
  width: 64px;
  height: 75px;
  fill: #fff;
}

