
body.blog .main .wrapper,
body.category .main .wrapper,
body.tag .main .wrapper {
  padding-top: 0;
}

.post {
  position: relative;
  width: 100%;
  margin-bottom: $base*2;
  padding-bottom: $base;
  border-bottom: 2px solid $lt-grey;

  @include bp-min-width($medium) {
    padding: 0 4% $base;
  }

  @include bp-min-width($large) {
    padding: 0 13% $base*3 28.5%;
  }
  
  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.post .post-date {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 12px;

  @include bp-min-width($large) {
    @include font-size(24px);
    position: absolute;
    top: 6px;
    left: 0;
    width: 28.75%;
    padding-bottom: 20px;
    padding-right: 30px;
    text-align: right;
  }
  
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 20px;
    height: 1px;
    background: $livid;

    @include bp-min-width($large) {
      right: 30px;
    }
  }
}

.post figure {
  position: relative;
  margin-bottom: 2em;
}

.post figcaption {
  padding-top: 12px;

  @include bp-min-width($large) {
    @include font-size(18px);
    @include line-height(30px);
    position: absolute;
    left: -38%;
    bottom: 0;
    width: 38%;
    padding-right: 30px;
    text-align: right;
  }
}

.post-tags {
  margin-top: 1.5em;
  
  @include bp-min-width($large) {
    @include font-size(18px);
    @include line-height(22px);
  }
  
  .label {
    color: $red;
    font-weight: $bold;
  }
  
  a {
    color: $md-blue;
  }
}

.post-nav {
  @include font-size(18px);
  padding: 18px 0;
  background: lighten($lt-grey, 6%);
  text-align: center;

  @include bp-min-width($large) {
    @include font-size(21px);
  }
  
  .post-nav-item {
    color: $md-grey;
  }
  
  a {
    color: $livid;
  }
  
  .bullet {
    margin: 0 10px;
    color: $md-grey;
  }
}

.archive-link {
  @include font-size(18px);
  margin-top: $base;
  text-align: center;
  
  a {
    color: $md-grey;
    
    &:hover {
      color: $grey;
    }
  }
}

.main-no-posts .body {
  text-align: center;
  
  h3 {
    margin-bottom: $base;
  }
}
