
.page-id-15 .page-hero {
  background: $dk-blue $hero-history no-repeat center center / cover;
}

.history-intro,
.era-section {
  text-align: center;
}

.history-hero {
  position: relative;
  text-align: center;
  
  &.era-1-hero {
    background: $dk-blue $hero-history-01 no-repeat center center / cover;
  }

  &.era-3-hero {
    background: $dk-blue $hero-history-02 no-repeat center center / cover;
  }

  &.era-5-hero {
    background: $dk-blue $hero-history-03 no-repeat center center / cover;
  }

  &.current-era-hero {
    background: $dk-blue $hero-history-04 no-repeat center center / cover;
  }
}

.history-hero .era-year {
  margin: 0 auto 12px;
  width: 110px;
  height: 110px;
  padding-top: 26px;
  background: #fff;
  border: 5px solid $lt-grey;
  border-radius: 50%;
  color: $red;
  font-weight: $light;  
}

.history-hero h2 {
  margin-bottom: 0;
  color: #fff;
}

.era-year {
  @include font-size(40px);
  line-height: 1;
}

.era-image-circle {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 12px auto $base;
  background: $dk-blue;
  border: 5px solid $lt-grey;
  border-radius: 50%;

  @include bp-min-width($large) {
    width: 328px;
    height: 328px;
  }
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -106px;
    left: 50%;
    width: 4px;
    height: 76px;
    margin-left: -2px;
    background: $lt-grey;
  }
  
  .era-year {
    @include absolute-center;
    color: #fff;
  }
}

.era-2-section .era-image-circle {
  background: $dk-blue $circle-history-01 no-repeat center center / cover;
}

.era-4-section .era-image-circle {
  background: $dk-blue $circle-history-02 no-repeat center center / cover;
}

.history-hero:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -54px;
  width: 4px;
  height: 84px;
  background: $lt-grey;

  @include bp-min-width($medium) {
    height: 134px;
  }
}

.era-5-hero:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -54px;
  width: 4px;
  height: 84px;
  background: $lt-grey;

  @include bp-min-width($medium) {
    height: 134px;
  }
}

.era-4-section .wrapper {
  padding-bottom: $base*3.5;
}

.current-era-hero .wrapper {
  padding: $base*2.5 0;
}

.current-era-hero:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -54px;
  width: 4px;
  height: 134px;
  background: $lt-grey;

  @include bp-min-width($medium) {
    height: 184px;
  }
}

.current-era-hero:after {
  height: 134px;

  @include bp-min-width($medium) {
    height: 184px;
  }
}

.history-content .wrapper {
  padding: $base*3 5%;
  text-align: center;
}

.history-content p {
  margin-bottom: 1.5em;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}


