
$black:     #363636;

$gains:     #eeeff1;
$lt-grey:   #e5e5e5;
$md-grey:   #b3b3b3;
$grey:      #868686;
$dk-grey:   #444;

$red:       #ff444f;
$dk-red:    #b22f37;

/* $livid:     #4d697f; */
$livid:     #497598;

$blue:      #17c1ff;
$md-blue:   #0f7da5;
$dk-blue:   #063647;