
$sprite-arrows: image-url("sprite-arrows.png");
$sprite-home-intro: image-url("sprite-home-intro.png");

.owl-nav [class*="icon-"] {
  display: block;
  width: 30px;
  height: 54px;
  background: $sprite-arrows no-repeat;
}

.owl-nav .icon-next {
  background-position: -32px 0;
}

.home-intro [class*="icon-"] {
  display: block;
  background: $sprite-home-intro no-repeat;
}

.home-intro .icon-intro-1 {
  width: 27px;
  height: 35px;
}

.home-intro .icon-intro-2 {
  width: 32px;
  height: 36px;
  background-position: 0 -37px;
}

.home-intro .icon-intro-3 {
  width: 20px;
  height: 44px;
  background-position: 0 -74px;
}

.home-intro .icon-intro-4 {
  width: 23px;
  height: 39px;
  background-position: 0 -121px;
}

.home-intro .icon-intro-5 {
  width: 47px;
  height: 29px;
  background-position: 0 -161px;
}

.home-intro .icon-intro-6 {
  width: 44px;
  height: 37px;
  background-position: 0 -193px;
}