
$bg-header: image-url("bg-header.jpg");

$bg-promo-sect: image-url("bg-promo-sect.jpg");

$hero-home-01: image-url("hero-home-01.jpg");
$hero-home-02: image-url("hero-home-02.jpg");
$hero-home-03: image-url("hero-home-03.jpg");
$hero-home-04: image-url("hero-home-04.jpg");

$hero-services: image-url("hero-services.jpg");
$hero-services-01: image-url("hero-services-01.jpg");
$hero-services-02: image-url("hero-services-02.jpg");
$hero-services-03: image-url("hero-services-03.jpg");

$hero-products: image-url("hero-products.jpg");

$hero-history: image-url("hero-history.jpg");
$hero-history-01: image-url("hero-history-01.jpg");
$hero-history-02: image-url("hero-history-02.jpg");
$hero-history-03: image-url("hero-history-03.jpg");
$hero-history-04: image-url("hero-history-04.jpg");

$circle-history-01: image-url("circle-history-01.jpg");
$circle-history-02: image-url("circle-history-02.jpg");

$hero-team: image-url("hero-team.jpg");

$home-about-01: image-url("home-about-01.jpg");

$learn-more-01: image-url("pic-learn-more-01.jpg");
$learn-more-02: image-url("pic-learn-more-02.jpg");
$learn-more-03: image-url("pic-learn-more-03.jpg");
$learn-more-04: image-url("pic-learn-more-04.jpg");

$contact-map: image-url("contact-map.jpg");
