body {
  background: #fff;
}

.container {
  background: $lt-grey;

  @include bp-min-width($medium) {
    @include cf;
    max-width: 1800px;
    margin: 0 auto;
  }
}

.wrapper {
  @include cf;
  margin: 0 4%;

  @include bp-min-width($medium) {
    width: 92%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  &.bg-white {
    padding: $base*2 20px;
    background: #fff;
  }
}

.main .wrapper {
  padding: $base*1.5 20px;

  @include bp-min-width($medium) {
    padding: $base*2 20px;
  }
}

.section .wrapper {
  padding: $base*1.5 0;
  
  @include bp-min-width($medium) {
    padding: $base*2.5 0;
  }
}

.wrapper.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.page-template-default .body {
  @include width-8-col;
}
