
$sans: 'ars-maquette-web', Helvetica, arial, sans-serif;

$light: 300;
$reg:   400;
$med:   500;
$bold:  700;

$base:  24px;
/* 21 / 32 */

body {
  font: $reg 1em/1.5em $sans;
  color: $livid;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

h1 {
  @include font-size(30px);
  @include line-height(36px);
  font-weight: $light;

  @include bp-min-width($medium) {
    @include font-size(60px);
    @include line-height(64px);
  }
}

h2 {
  @include font-size(30px);
  @include line-height(36px);
  margin-bottom: $base;
  color: $md-blue;

  @include bp-min-width($medium) {
    @include font-size(40px);
    @include line-height(48px);
    font-weight: $light;
  }
}

h3 {
  @include font-size(24px);
  @include line-height(32px);
  color: $livid;
}

h4, h5 {
  @include font-size(24px);
  @include line-height(32px);
  font-weight: $med;
}

p, .body ul, .body ol {
  @include font-size(18px);
  @include line-height(28px);

  @include bp-min-width($medium) {
    @include font-size(21px);
    @include line-height(32px);
  }
}

.page-title {
  max-width: 960px;
  margin: $base auto;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(40px);
    @include line-height(48px);
    margin: $base*2 auto $base*2.25;
    color: $md-blue;
    font-weight: $light;
  }
}

.hero-title {
  @extend h1;
  color: #fff;
}

.section-title {
  margin-bottom: $base*1.5;
  text-align: center;

  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.intro {
  max-width: 680px;
  margin-bottom: $base;
  text-align: center;

  @include bp-min-width($medium) {
    @include font-size(21px);
    @include line-height(32px);
    margin: 0 auto $base*2;
  }
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

blockquote {
  margin-bottom: 2em;
  padding-left: 30px;
  border-left: 6px solid $blue;
  color: $md-blue;
}

.label {
  font-weight: $bold;
}

.body h2 {
  margin-bottom: $base;
  color: $blue;
}

.body h3,
.body h4 {
  color: $blue;
  font-weight: $med;
}

.body p,
.body ul,
.body ol {
  margin-bottom: 1.5em;

  &:last-child, &.label {
    margin-bottom: 0;
  }
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}
