
.page-id-5 .hero {
  background: $green $hero-about no-repeat center center;
  background-size: cover;
}

.page-id-5 .hero h1 {
  @include font-size(24px);
  @include line-height(30px);
  font-weight: $reg;
}

.about-services .wrapper {
  @include width-10-col;
}

.about-services h2 {
  margin-bottom: $base*2;
  
  @include bp-min-width($large) {
    margin-bottom: $base*3;
  }
}

.services-grid {
  @include cf;
}

.services-grid .col-1-2 {
  margin-bottom: $base*2;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.services-grid h3 {
  @include title-border;
  font-weight: $med;
  margin-bottom: 12px;
}

.about-jens {
  @include bp-min-width($large) {
    display: table;
  }
}

.jens-image {
  background: $dk-grey $pic-jens no-repeat center center;
  background-size: cover;

  @include bp-max-width($large) {
    float: right;
    width: 180px;
    height: 180px;
    margin: $base*2 5% 0 $base;
    border-radius: 50%;
  }

  @include bp-max-width($tiny) {
    width: 120px;
    height: 120px;
  }

  @include bp-min-width($large) {
    display: table-cell;
    width: 50%;
  }
}

.jens-bio {
  padding: $base*2 5%;
  background: $green;
  color: #fff;

  @include bp-min-width($large) {
    display: table-cell;
    width: 50%;
    padding: $base*3 3.5%;
  }
}

.jens-bio h3 {
  @include font-size(32px);
  margin-bottom: $base;
  color: #fff;
  font-weight: $bold;
}

.jens-bio p {
  @include font-size(17px);
}

.jens-bio p:first-of-type {
  margin-bottom: $base;
}

.jens-bio a {
  color: #fff;
  font-weight: $med;
  
  .icon-next {
    fill: #fff;
  }
}


