
.page-id-2 .hero {
  @include bp-min-width($large) {
    padding: $base*6 0;
  }
}

.home-hero-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: $hero-home no-repeat center center;
  background-size: cover;
  
  &.fade-in {
    animation: fade-in 1s forwards;
  }
}

.page-id-2 .hero .wrapper {
  position: relative;
  z-index: 20;
  opacity: 0;

  &.fade-in {
    animation: fade-in 1s 0.5s forwards;
  }  
}

.home-services .services-content h2 {
  margin-bottom: 28px;
}

.home-services .services-content p {
  max-width: 520px;
  margin-bottom: 32px;
}

.home-services .services-content a {
  @include btn;
}

.home-services .services-list {
  padding-top: $base;
  
  @include bp-min-width($large) {
    padding-top: 40px;
  }
}

.service {
  @include title-border;
  margin-bottom: $base*2;

  @include bp-min-width($medium) {
    float: left;
    width: 50%;
  }

  &:nth-child(2n+1) {
    @include bp-min-width($medium) {
      padding-right: 20px;
      clear: left;
    }
  }
  
  &:nth-child(2n) {
    @include bp-min-width($medium) {
      padding-left: 20px;
    }
  }
}
