
.our-work h1 {
  @extend h2;
  margin-bottom: $base;
  text-align: center;
}

.our-work p {
  @include width-6-col;
  @include font-size(17px);
  margin-bottom: $base*2;
  text-align: center;
}

.our-work .project-block {
  position: relative;
  min-height: 240px;
  margin-bottom: $base;
  background: $post-thumb-default no-repeat;
  background-size: cover;
}


.our-work .project-block a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(#000, 0.5);
  
  &:hover {
    background: rgba(#000, 0.3);
  }
}

.our-work .project-block .project-title {
  @include font-size(21px);
  @include line-height(24px);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: $base;
  color: #fff;
  font-weight: $reg;
}