
.project-info {
  margin-bottom: $base;
  
  @include bp-min-width($large) {
    position: relative;
    width: 66.666%;
    margin-bottom: $base*2;
  }
}

.single .project-title {
  margin-bottom: $base;
  font-weight: $bold;

  @include bp-min-width($large) {
    @include font-size(32px);
    @include line-height(32px);
  }
}

.project-meta {
  @include bp-min-width($large) {
    @include title-border;
    position: absolute;
    top: 60px;
    right: -50%;
    width: 50%;
    padding-left: 40px;
    
    &:before {
      margin-bottom: 20px;
    }
  }
}

.project-meta h4 {
  @include font-size(15px);
  @include line-height(24px);
  font-weight: $bold;
  text-transform: uppercase;
}

.project-meta p {
  color: $dk-grey;
}

.project-location {
  margin-bottom: $base;
}

.project-info .body p {
  @include bp-min-width($large) {
    @include font-size(17px);
  }
}

.project-images {
  position: relative;
  
  @include bp-min-width($large) {
    width: 66.666%;
  }
}

.project-images .image-caption {
  @include bp-min-width($large) {
    position: absolute;
    top: 60px;
    right: -50%;
    width: 50%;
    padding-left: 40px;
  }
}

.bx-controls {
  width: 100px;
  @include bp-min-width($large) {
    position: absolute;
    top: 0;
    right: -140px;
  }
  
  a {
    margin-right: 20px;
  }
}

.project-images .icon-prev,
.project-images .icon-next {
  width: 18px;
  height: 32px;
  fill: $green;
}