
.project-info {
  margin-bottom: $base;
  
  @include bp-min-width($large) {
    position: relative;
    width: 66.666%;
    margin-bottom: $base*2;
  }
}

.single .project-title {
  margin-bottom: $base;
  font-weight: $bold;

  @include bp-min-width($large) {
    @include font-size(32px);
    @include line-height(32px);
  }
}

.project-meta {
  margin-bottom: $base;
  @include bp-min-width($large) {
    @include title-border;
    position: absolute;
    top: 60px;
    right: -50%;
    width: 50%;
    padding-left: 40px;
    
    &:before {
      margin-bottom: 20px;
    }
  }
}

.project-meta h4 {
  @include font-size(15px);
  @include line-height(24px);
  font-weight: $bold;
  text-transform: uppercase;
}

.project-meta p {
  color: $dk-grey;
}

.project-location {
  margin-bottom: $base;

  @include bp-max-width($large) {
    float: left;
    width: 50%;
    max-width: 200px;
  }
}

.project-info .body p {
  @include bp-min-width($large) {
    @include font-size(17px);
  }
}

.project-images {
  
  @include bp-min-width($large) {
    width: 66.666%;
  }
  
  img {
    width: 100%;
  }
}

.project-images .image-caption {
  margin: 12px 0;
  font-style: italic;

  @include bp-max-width($large) {
    @include font-size(13px);
    @include line-height(19px);
  }

  @include bp-min-width($large) {
    position: absolute;
    top: 60px;
    right: -50%;
    width: 50%;
    padding-left: 40px;
  }
}

.bx-controls {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 100;

  @include bp-min-width($large) {
    top: 0;
    right: -140px;
    width: 100px;
  }
}

.bx-controls a {
  display: inline-block;
  
  &:first-of-type {
    margin-right: 20px;
  }
}

.project-images .icon-prev,
.project-images .icon-next {
  width: 18px;
  height: 32px;
  fill: #fff;

  @include bp-min-width($large) {
    fill: $green;
  }
}