
.main-nav {
  @include cf;
  background: #fff;
}

.main-nav .wrapper {
  position: relative;

  @include bp-max-width($medium) {
    margin: 0;
  }
}

.main-nav .phone-block {
  position: absolute;
  top: 0;
  right: 0;
  left: 80px;
  z-index: 10;
  font-weight: $med;
  text-align: center;

  @include bp-min-width($small) {
    width: 300px;
    left: auto;
  }

  @include bp-min-width($medium) {
    width: 250px;
  }
}

.main-nav .phone-block .phone-number {
  @include font-size(21px);
  height: 70px;
  padding: 14px;
  background: $blue;
  color: #fff;

  @include bp-min-width($medium) {
    padding: 23px;
  }
  
  a {
    color: #fff;
  }
}

.main-nav .phone-block .mobile-label {
  @include font-size(16px);
  line-height: 1;
  display: block;
  
  @include bp-min-width($medium) {
    display: none;
  }
}

.main-nav .phone-block .btn-appointment {
  display: none;
  position: relative;
  padding: 14px 0;
  background: $md-blue;
  color: #fff;

  @include bp-min-width($medium) {
    display: block;
  }
  
  &:hover {
    background: $dk-blue;
    
    &:before {
      border-bottom-color: $dk-blue;
    }
  }
  
  &:before {
    @include up-triangle(6px, $md-blue);
    @include global-transition;
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -3px;
  }
}

.menu-main-menu-container {
  @include bp-max-width($large - 1) {
    display: none;
    
    &.show {
      display: block;
      width: 100%;
      clear: both;
    }
  }
  
  @include bp-min-width($large) {
    float: left;
  }
}

.main-nav li {
  @include bp-min-width($large) {
    position: relative;
    float: left;
  }
  
  &.current-menu-item,
  &.current-menu-parent {
    box-shadow: inset 0 6px 0 $blue;
  }
}

.main-nav li a {
  @include font-size(18px);
  display: block;
  color: $livid;
  padding: 23px 20px;

  @include bp-max-width($large - 1) {
    background: $red;
    color: #fff;
    font-weight: $med;
  }

  @include bp-min-max($large, 1100px) {
    padding: 23px 14px;
  }

  @include bp-min-width($medium) {
    @include font-size(21px);
  }
  
  &:hover {
    color: #fff;
    background: $dk-red;
    box-shadow: inset 0 6px 0 $dk-red;

    @include bp-min-width($large) {
      background: $red;
    }
  }
}

.main-nav li:hover a {
  @include bp-min-width($large) {
    color: #fff;
    background: $red;
    box-shadow: inset 0 6px 0 $dk-red;
  }
}

.main-nav .sub-menu {
  @include bp-min-width($large) {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 260px;
    padding: 14px 0;
    background: $red;
  }
}

.main-nav .sub-menu li {
  @include bp-min-width($large) {
    float: none;
    padding: 10px 0;
  }
  
  &.current-menu-item {
    box-shadow: none;
  }
}

.main-nav li:hover .sub-menu {
  @include bp-min-width($large) {
    display: block;
    z-index: 10;
  }
}

.main-nav .sub-menu li a {
  padding: 12px 20px 12px 30px;

  @include bp-min-width($large) {
    padding: 0 20px;
    box-shadow: none;
    color: #fff;
    
    &:hover {
      box-shadow: inset 8px 0 0 #fff;
    }
  }
}

.main-nav .sub-menu .current-menu-item a {
  @include bp-min-width($large) {
    box-shadow: inset 8px 0 0 #fff;
  }
}

/** Mobile Menu Button **/

.main-nav .btn-mobile {
  float: left;
  height: 70px;
  padding: 22px 30px 0;
  background: #fff;
  
  &.active {
    background: $red;
  }
    
  @include bp-min-width($large) {
    display: none;
  }
}

.btn-mobile .icon-menu {
  position: relative;
  display: inline-block;
  vertical-align: -2px;
  width: 20px;
  height: 16px;
  background: none;

  .bar {
    @include transition(all 0.2s ease-in);
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background: $red;
  }

  &:nth-child(1) {
    @include transform(rotate(0));
  }
  
  &:nth-child(2) {
    @include transform(rotate(0));
  }
  
  &:nth-child(3) {
    opacity: 1;
  }
}

.btn-mobile.active .icon-menu {
  height: 9px;
}

.btn-mobile.active .bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  
  &:nth-child(1) {
    @include transform(rotate(45deg));
  }
  
  &:nth-child(2) {
    @include transform(rotate(-45deg));
  }
  
  &:nth-child(3) {
    opacity: 0;
  }
}
